@charset "utf-8";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    height: 100%;
    background:#f4f4f4;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
html,body,div,dl,dt,dd,ul,li,pre,form,fieldset,select,input,textarea,button,p,blockquote,th,td,img,iframe{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}
body{
    width: 100%;
    height: 100%;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font: 14px/1.5 "微软雅黑","Microsoft YaHei","\5b8b\4f53","Tahoma","Arial";
    color: #333;
    outline: none;
}
input,select,textarea{
    font-size: 100%;
}
/* 重置button边框 */
button{
    border: none;
}
/* 去掉各Table cell 的边距并让其边重合 */
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th{
    text-align: inherit;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{
    text-align: left;
}
/* 去除默认边框 */
fieldset,img{
    border: none;
    outline: none;
    -moz-outline:none;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul,li{
    list-style: none;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
/* 让链接默认不显示下划线，在hover状态下显示下划线 */
a{
    color: #333;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
/* 清理浮动 */
.clearfix:before,.clearfix:after{
    display: block;
    content: " ";
    clear: both;
}
.clearfix{
    zoom: 1; /* for ie67*/
}

/*遮挡层*/

.mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}

/*图标*/
$url:"../assets/";
.icon{
    display: block;
    width:50px;
    height: 50px;
    background-size: 50px auto;
    background-repeat:no-repeat;
    background-position: center;
}
.icon-zc{background-image:url("assets/home_nav1.png")}
.icon-yy{background-image:url("assets/home_nav2.png")}
.icon-bo{background-image:url("assets/home_nav3.png")}
.icon-sj{background-image:url("assets/home_nav4.png")}
.icon-zl{background-image:url("assets/home_nav5.png")}
.icon-tx{background-image:url("assets/home_nav6.png")}
.icon-yx{background-image:url("assets/home_nav7.png")}
.icon-tj{background-image:url("assets/home_nav_add.png")}

//

.font-md{
    font-size: 16px;
    font-weight: 900;
    color: 212121;
    text-align: center;
}
//btn
.btn{
    width: 65px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #fff;
    background: #4585f4;
    border-radius: 3px;
    letter-spacing: 1px;
    position: relative;
    &:active:after{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        border-radius: 3px;
    }
}

.btn_no{
    width: 65px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    letter-spacing: 1px;
    position: relative;
    &:active:after{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        border-radius: 3px;
    }
}

.other{
    font-size: 12px;
    color: #b0b0b0;
    .read{
        padding-left: 16px;
        background: url("./assets/icon_read.png") no-repeat left center;
        background-size: 14px auto;
    }
}
