@charset "utf-8";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  height: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
html,
body,
div,
dl,
dt,
dd,
ul,
li,
pre,
form,
fieldset,
select,
input,
textarea,
button,
p,
blockquote,
th,
td,
img,
iframe {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
body {
  width: 100%;
  height: 100%;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
  font: 14px/1.5 "微软雅黑", "Microsoft YaHei", "\5b8b\4f53", "Tahoma", "Arial";
  color: #333;
  outline: none;
}
input,
select,
textarea {
  font-size: 100%;
}
/* 重置button边框 */
button {
  border: none;
}
/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 去除默认边框 */
fieldset,
img {
  border: none;
  outline: none;
  -moz-outline: none;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul,
li {
  list-style: none;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
/* 让链接默认不显示下划线，在hover状态下显示下划线 */
a {
  color: #333;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* 清理浮动 */
.clearfix:before,
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
}
.clearfix {
  zoom: 1;
  /* for ie67*/
}
/*遮挡层*/
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.icon {
  display: block;
  width: 50px;
  height: 50px;
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center;
}
#app .icon_box {
  display: block;
  width: 50px;
  height: 50px;
}
#app .icon_box img {
  width: 100%;
  height: 100%;
}
.icon-dx {
  background-image: url("../assets/icon_dx.png");
}
.icon-wx {
  background-image: url("../assets/icon_wx.png");
}
.icon-pyq {
  background-image: url("../assets/icon_pyq.png");
}
.font-md {
  font-size: 16px;
  font-weight: 900;
  color: 212121;
  text-align: center;
}
.btn {
  width: 65px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  background: #4585f4;
  border-radius: 3px;
  letter-spacing: 1px;
  position: relative;
}
.btn:active:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.btn_no {
  width: 65px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  letter-spacing: 1px;
  position: relative;
}
.btn_no:active:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.other {
  font-size: 12px;
  color: #b0b0b0;
}
.other .read {
  padding-left: 16px;
  background: url("../assets/icon_read.png") no-repeat left center;
  background-size: 14px auto;
}
/*app*/
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  min-height: 100%;
  _overflow: visible;
  _zoom: 1;
}
#app .app_content {
  overflow: hidden;
  _overflow: visible;
  _zoom: 1;
}
/*底部导航*/
.navigation {
  text-align: center;
}
.navigation .catalog {
  position: fixed;
  left: 0 ;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 50px;
  border-top: 1px solid #b2b2b2;
  color: #666666;
  line-height: 1;
  background: #f9f9f9;
}
.navigation .catalog a {
  padding-top: 32px;
}
.navigation .catalog a:nth-child(1) {
  background: url("../assets/home_news_icon.png") no-repeat center 6px;
  background-size: 20px auto;
}
.navigation .catalog a:nth-child(2) {
  background: url("../assets/home_use_icon.png") no-repeat center 6px;
  background-size: 19px auto;
}
.navigation .catalog a:nth-child(2).router-link-active {
  background: url("../assets/home_use_icon_a.png") no-repeat center 5px;
  background-size: 24px auto;
}
.navigation .catalog a:nth-child(3) {
  background: url("../assets/home_home_icon.png") no-repeat center 6px;
  background-size: 20px auto;
}
.navigation .catalog a:nth-child(3).router-link-active {
  background: url("../assets/home_home_selected_icon.png") no-repeat center 5px;
  background-size: 25px auto;
}
.navigation .catalog a:nth-child(4) {
  background: url("../assets/home_store_icon.png") no-repeat center 6px;
  background-size: 19px auto;
}
.navigation .catalog a:nth-child(4).router-link-active {
  background: url("../assets/home_store_icon_a.png") no-repeat center 5px;
  background-size: 24px auto;
}
.navigation .catalog a:nth-child(5) {
  background: url("../assets/home_set_icon.png") no-repeat center 6px;
  background-size: 19px auto;
}
.navigation .catalog a:nth-child(5).router-link-active {
  background: url("../assets/home_set_icon_a.png") no-repeat center 5px;
  background-size: 24px auto;
}
.navigation .catalog .router-link-active {
  color: #4585f4;
}
/*文章列表*/
.articles {
  overflow: auto;
  background: #fff;
}
.articles .title {
  height: 44px;
  line-height: 44px;
  padding: 0 18px;
  border-bottom: 1px solid #e5e5e5;
}
.articles .title .name {
  font-size: 16px;
  font-weight: 900;
  color: #212121;
  padding-left: 24px;
  background: url("../../assets/articles_new.png") no-repeat left center;
  background-size: 13px auto ;
}
.articles .title .dynamic {
  background-image: url("../../assets/articles_dynamic.png");
}
.articles .title .open {
  width: 43px;
  height: 100%;
  color: #d1d1d1;
  background-position: right 49%;
  background-size: 6px auto;
}
.list_news {
  padding: 0 18px;
  overflow: auto;
}
.list_news li {
  height: 126px;
  padding: 18px 0;
}
.list_news li .article_content {
  position: relative;
  height: 100%;
}
.list_news li .article_content h3 {
  font-size: 16px;
  color: #212121;
  text-align: left;
  padding-right: 10px;
  line-height: 23px;
  overflow: hidden;
}
.list_news li .article_content .others {
  position: absolute;
  bottom: 0;
  line-height: 1;
  height: 12px;
  font-size: 12px;
  width: 100%;
  color: #999999;
  overflow: hidden;
}
.list_news li .article_content .others .article_data {
  margin-right: 0;
}
.list_news li .article_content .others .article_data span {
  padding-left: 16px;
  background: url("../assets/articles_comment.png") no-repeat left center;
  background-size: auto 11px;
  text-align: left;
  margin-right: 10px;
}
.list_news li .article_content .others .article_data .read {
  background-image: url("../assets/icon_read.png");
  background-position: left 46%;
}
.list_news li .article_img {
  height: 100%;
  width: 120px;
  overflow: hidden;
}
.list_news li .article_img img {
  height: 100%;
  width: 100%;
}
.list_news li:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (max-width: 340px) {
  body .article_content h3 {
    font-size: 14px !important;
  }
  body .article_content .others span {
    font-size: 10px;
  }
  body .article_content .article_data {
    width: 94px !important;
  }
}
/*二级页面头部*/
.back-title {
  height: 44px;
  background: url(../assets/icon_back.png) #fff no-repeat 18px center;
  background-size: 12px auto;
  font-size: 18px;
  line-height: 44px;
  font-weight: 900;
  position: relative;
}
.back-title div.back {
  height: 100%;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}
/*信息输入*/
.from_box {
  background: #fff;
  padding: 0 18px;
}
.from_box div.title {
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid #f7f7f7;
}
.from_box div.text {
  height: 210px;
}
.from_box div.text div {
  text-align: right;
  line-height: 1;
  color: #c0c0c0;
}
.from_box input {
  height: 100%;
}
.from_box input,
.from_box textarea {
  display: block;
  width: 100%;
  padding: 10px;
  line-height: 20px;
  border: 0;
  resize: none;
  text-align: justify;
}
.from_box textarea {
  height: 190px;
}
