html {
  background: #f4f4f4;
}
.home .open {
  display: block;
  background: url("../../assets/icon-open.png") no-repeat;
  background-size: 100% auto;
  width: 6px;
  height: 10px;
}
.home .mrgt {
  margin-top: 10px;
}
@media screen and (max-width: 340px) {
  .home body .article_content .others span {
    font-size: 10px;
  }
  .home body .article_content .article_data {
    width: 94px !important;
  }
}
.home .banner-box {
  width: 100%;
  height: 3.78rem;
}
.home .banner-box img {
  width: 7.5rem;
}
.home .navs-more {
  height: 210px;
  background: #fff;
  overflow: auto;
}
.home .navs-more > div {
  height: 100%;
  float: left;
}
.home .navs-more > div .text {
  margin: 23px 0 0 18px;
  width: 1.5rem;
  text-align: left;
}
.home .navs-more > div .text div {
  font-size: 16px;
  color: #212121;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 12px;
}
.home .navs-more > div .text p {
  color: #9c9c9c;
}
.home .navs-more .mail {
  width: 2.85rem;
  border-right: 1px solid #e5e5e5;
  background: url("../../assets/mail_icon.png") no-repeat center 110px;
  background-size: auto 79px;
}
.home .navs-more .other > div {
  height: 50%;
  width: 4.65rem;
  overflow: hidden;
}
.home .navs-more .other .cars {
  border-bottom: 1px solid #e5e5e5;
  background: url("../../assets/car_icon.png") no-repeat 2rem 28px;
  background-size: auto 52px;
}
.home .navs-more .other .fault {
  background: url("../../assets/fault_icon.png") no-repeat 2.28rem 24px;
  background-size: auto 59px;
}
.home .notice {
  height: 45px;
  line-height: 45px;
  text-align: left;
  padding-left: 41px;
  background: url("../../assets/home_notice_icon.png") #fff3d3 18px center no-repeat;
  background-size: 16px auto;
  color: #1a1a1a;
}
.home .navs {
  background: #fff;
  overflow: auto;
  padding: 25px 0 3px;
}
.home .navs li {
  width: 25%;
  height: 96px;
  float: left;
}
.home .navs li span {
  width: 50px;
  height: 50px;
  display: block;
}
.home .navs li span img {
  width: 100%;
  height: 100%;
}
.home .navs li p {
  margin-top: 10px;
  line-height: 1;
}
.home .mytask {
  height: 80px;
  background: #fff;
}
.home .mytask .text {
  text-align: left;
  line-height: 1.2;
}
.home .mytask .text span {
  font-weight: 900;
  font-size: 16px;
}
.home .mytask > div {
  padding-left: 77px;
  background: url("../../assets/home_mytask2.png") no-repeat 18px center;
  background-size: 44px auto;
}
.home .mytask > div .open {
  float: right;
  width: 6px;
  margin-right: 14px;
}
.home .mytask > div:nth-child(1) {
  background-image: url("../../assets/home_mytask1.png");
}
.home .mytask > div:nth-child(1):after {
  display: block;
  content: "";
  width: 1px;
  height: 36px;
  background: #e5e5e5;
}
